<div class="appAuthLoginForm">
  <form [formGroup]="loginForm" (ngSubmit)="handleSubmit(loginForm)">

    <div fxLayout="row">
      <mat-form-field appearance="outline">
        <mat-label>Your email</mat-label>
        <input matInput
          formControlName="email"
          placeholder="your-email@example.com"
          required
        />
      </mat-form-field>
    </div>

    <div fxLayout="row">
      <mat-form-field appearance="outline">
        <mat-label >Enter your password</mat-label>
        <input matInput
          [type]="passwordHide ? 'password' : 'text'"
          formControlName="password"
          required
        />
        <button mat-icon-button matSuffix
          (click)="passwordHide = !passwordHide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="passwordHide"
        >
          <mat-icon>{{ passwordHide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div fxLayout="row">
      <button mat-raised-button
        type="submit"
        color="primary"
        [disabled]="!loginForm.valid"
      >Sign in</button>
    </div>

  </form>

</div>
