<div class="appAuthSignupForm">
  <form [formGroup]="signupForm" (ngSubmit)="handleSubmit(signupForm)">

    <div fxLayout="row" fxLayoutAlign="space-between center" >
      <mat-form-field appearance="outline" fxFlex="48">
        <mat-label>First Name</mat-label>
        <input matInput
          formControlName="firstName"
          autocomplete="off"
          required
        />
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="48">
        <mat-label>Last Name</mat-label>
        <input matInput
          formControlName="lastName"
          autocomplete="off"
          required
        />
      </mat-form-field>
    </div>

    
    <div fxLayout="row">
      <mat-form-field appearance="outline">
        <mat-label>Pseudo</mat-label>
        <input matInput
          formControlName="defaultPseudo"
          autocomplete="off"
        />
      </mat-form-field>
    </div>

    <div fxLayout="row">
      <mat-form-field appearance="outline">
        <mat-label>Your email</mat-label>
        <input matInput
          formControlName="email"
          placeholder="your-email@example.com"
          autocomplete="off"
          required
        />
      </mat-form-field>
    </div>

    <div fxLayout="row">
      <mat-form-field appearance="outline">
        <mat-label>Enter your password</mat-label>
        <input matInput
          [type]="passwordHide ? 'password' : 'text'"
          formControlName="password"
          autocomplete="off"
          required
        />
        <button mat-icon-button matSuffix
          (click)="passwordHide = !passwordHide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="passwordHide"
        >
          <mat-icon>{{ passwordHide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div fxLayout="row">
      <button mat-raised-button
        type="submit"
        color="primary"
        [disabled]="!signupForm.valid"
      >Create Account</button>
    </div>

  </form>

</div>
