<div fxLayout="row" fxLayoutAlign="start start" style="height:100%">
  <div fxFlex="50px" fxLayout="row" fxLayoutAlign="end center" style="height:100%">
    <div fxFlex="7px" class="timeline-label">TIMELINE</div>
    <div fxFlex="40px" style="height:100%" fxLayout="column" fxLayoutAlign="center center">
      <!-- SCROLL BAR POSITION BOX -->
      <div class="timeline-date" *ngIf="positionsArray && positionsArray[0]">{{ positionsArray[0].metadata.createdDate | date:'dd/MM/yy'}}</div>
      <div class="timeline-date" *ngIf="!positionsArray || !positionsArray[0]">Today</div>
      <div class='scroll-bar-wrapper' id="scroll-wrapper">
        <div id='scroll-bar' fxLayout="column" fxLayoutAlign="end center">
          <!-- <div  id="circle-cursor"></div> -->
          <div fxLayout="row" style="width:6px;background:#003A5A;height:40px;border-radius:3px">
            <!-- <mat-icon style="font-size:40px;color:#012E46">arrow_right</mat-icon>
            <mat-icon style="font-size:40px;color:#012E46">arrow_left</mat-icon> -->
          </div>
        </div>
      </div>
      <div class="timeline-date">Today</div>
    </div>
  </div>

  <div fxFlex="20px"></div>
  <div fxFlex class="right-box" fxLayout="column" fxLayoutAlign="start start">
    <div fxFlex="70px" class="header" fxLayout="row">
      <div fxLayout="row" fxLayoutAlign="space-between center" style="width:100%;padding:0px 20px" *ngIf="userData">
        <div fxLayout="row" fxLayoutAlign="start center" routerLink="/profile/dashboard" style="cursor:pointer"  >
          <mat-icon *ngIf="!userData.photoURL" style="font-size:40px;height:40px;width:40px">account_circle</mat-icon>
          <div *ngIf="userData.photoURL" style="background-position:center;background-size:cover;height:40px;width:40px;border-radius:30px" [style.backgroundImage]="'url('+userData.photoURL+')'"></div>
          <div fxFlex="10px"></div>
          <div fxLayout="column">
              <div>{{userData.firstName}}</div>
              <div>{{userData.lastName}}</div>
          </div>
        </div>
        <mat-icon (click)="logout()" style="cursor:pointer">logout</mat-icon>
      </div>

      <div fxLayout="row" fxLayoutAlign="end center" *ngIf="!userData "   (click)="login()" style="cursor:pointer;width:100%;padding:0px 20px">
        <div>Sign in</div>
        <div fxFlex="10px"></div>
        <mat-icon >login</mat-icon>
      </div>
    </div>

    <div fxFlex class="box" fxLayout="column">
      <div *ngIf="positionsArray && positionsArray.length && page === 'debate'">

        <a fxLayout="row" fxLayoutAlign="center center" *ngIf="userData" [routerLink]="'/discuss/debate/'+debateService.debateKey+'/analytics/'+userData.uid">
          <button class="white-button" style="margin:20px;font-size:0.8rem">EXPLORE THE ANALYTICS</button>
        </a>

        <a fxLayout="row" fxLayoutAlign="center center" *ngIf="!userData" [routerLink]="'/discuss/debate/'+debateService.debateKey+'/analytics/null'">
          <button class="white-button" style="margin:20px;font-size:0.8rem">EXPLORE THE ANALYTICS</button>
        </a>
      </div>
      <div *ngIf="page === 'analytics'">

        <a fxLayout="row" fxLayoutAlign="center center" *ngIf="userData" [routerLink]="'/discuss/debate/'+debateService.debateKey">
          <button class="white-button" style="margin:20px;font-size:0.8rem">GO BACK TO THE DISCUSSION</button>
        </a>

        <a fxLayout="row" fxLayoutAlign="center center" *ngIf="!userData" [routerLink]="'/discuss/debate/'+debateService.debateKey">
          <button class="white-button" style="margin:20px;font-size:0.8rem">GO BACK TO THE DISCUSSION</button>
        </a>
      </div>

      <div style="background:#012E46;color:white;padding:0px 20px;font-size:0.7rem" class="" fxFlex="50px" fxLayout="row" fxLayoutAlign="space-around center">
        <div fxLayout="row" fxLayoutAlign="center center">
          <!-- <img src="assets/lamp-grey.svg" height="20px" />
          <div fxFlex="5px"></div> -->
          <div *ngIf="positionsArray">{{positionsArray.length}} Positions</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
          <!-- <img src="assets/plus-grey.svg" />
          <div fxFlex="2px"></div>
          <img src="assets/minus-grey.svg" />
          <div fxFlex="5px"></div> -->
          <div *ngIf="claimsArray">{{claimsArray.length}} Arguments</div>
        </div>
      </div>

      <img src="assets/question-mark-white.svg" width="35px" style="margin-left:20px;margin-top:10px"/>
      <div fxFlex style="overflow-y:scroll;width:100%;padding:0px 20px" *ngIf="positionsArray && positionsArray.length" class="scroll-bar" id="discussion-scroll-bar">

        <app-position-node (showLoaderEmitter)="showLoader($event)" *ngFor="let position of positionsArray" [claims]="claimsArray" [position]="position" [summary]="summary" [userData]="userData"></app-position-node>
        <div fxLayout="row" fxLayoutAlign="start center" style="position:relative;padding-left:20px;"  >
          <div style="position:absolute;left:20px;top:0px;height:15px;border:1px solid white"></div>
        </div>
        <div id="discussion-map-today" style="background:white;border-radius:10px;color:#012E46;font-size:12px;width:60px;margin-top:15px;margin-bottom:30px" fxLayout="row" fxLayoutAlign="center center">
          TODAY
        </div>
        <div style="height:100px"></div>
      </div>

      <div fxFlex *ngIf="!positionsArray || !positionsArray.length" fxLayout="row" fxLayoutAlign="center center">
        NO DATA FOUND
      </div>
    </div>

  </div>

</div>
