.right-box {
  width:100%;
  color:white;
  height:100%;
}

.box {
  background:#003A5A;
  font-size:14px;
  width:100%;
  font-weight: 400;
}


.header {
  background:#016BA2;
  width:100%;
}

.subheader {
  background:#016BA2;
  width:100%;
  box-shadow: 0px 3px 6px #00000029;
  border-bottom: 1px solid #00000029;
}

a {
  text-decoration: none!important;
}
