
<div class="debate-container analytics-dashboard height-100" fxFlex fxLayout="row" fxLayoutAlign="center stretch" >

  <div fxLayout="column" fxLayoutAlign="start center" fxFlex style="position:relative">

    <!-- DEBATE HEADER -->
    <!-- <app-debate-header [title]="(debate$ | async)?.title" [image]="(debate$ | async)?.image" style="width:100%;max-width:700px"></app-debate-header> -->

    <div style="position:relative;width:100%;max-width:700px">
      <div class="debate-title" fxLayout="column" style="position:relative">
        <div fxLayout="row" fxLayoutAlign="start center" >
          <img src="assets/question-mark.svg" />
          <div fxFlex="20px"></div>
          <div fxFlex fxLayout="row" fxLayoutAlign="start center">{{ (debate$ | async)?.title}}</div>
        </div>
        <div fxFlex="20px"></div>
        <div class="input-box" fxLayout="column">

          <div class="big-input-box" *ngIf="!recording || url ">

              <textarea rows="1" style="padding-right:60px" class="grey-border border-blue scroll-textarea"  id="input-box" type="text" [(ngModel)]="currentNewPosition" (ngModelChange)="checkIfUrl($event)" (keyup.enter)="pushPosition()" placeholder="Briefly enter your position here"  ></textarea>
              <div style="position:absolute;right:10px;top:0px;height:45px" fxLayout="row" fxLayoutAlign="end center">
                <img src="assets/mic_enabled.svg"  *ngIf="!url" (click)="initiateRecording()" height="18px"/>
                <div fxFlex="15px"></div>
                <img src="assets/send-blue.svg" (click)="pushPosition()" height="18px"/>
              </div>
          </div>

          <app-url-preview *ngIf="currentMetaTags" [temp]="true" [meta]="currentMetaTags" (resetMetaEmitter)="currentMetaTags = null"></app-url-preview>

          <div *ngIf="recording === 1" fxLayout="row" style="color:white" fxLayoutAlign="space-between center">
            <mat-icon  style="color:red"> radio_button_checked</mat-icon>
            <div fxFlex="10px"></div>
            <div>{{recSecondsCount}} secs</div>
            <div fxFlex="10px"></div>
            <app-audio-equalizer fxFlex></app-audio-equalizer>
            <div fxFlex="5px"></div>
            <mat-icon  (click)="stopRecording()"  style="cursor:pointer">pause</mat-icon>
          </div>

          <div fxFlex="10px"  *ngIf="url"></div>

          <div fxLayout="row" fxLayoutAlign="space-between center"  *ngIf="url">
            <audio controls="" fxFlex>
              <source [src]="sanitize(url)" type="audio/wav" >
            </audio>
            <div fxFlex="10px"></div>
            <mat-icon *ngIf="recording === 2" (click)="deleteRecording()" style="cursor:pointer;color:white"> delete</mat-icon>
          </div>
        </div>
      </div>

    </div>

    <!-- DEBATE CONTENT -->
    <div style="overflow-y:scroll;position:relative;min-height:100%;width:100%;display: flex; flex-direction: column-reverse;align-items: center;" class="scroll-bar" id="debate-content" (scroll)="onScroll($event)" (click)="resetHighlightining(null)" fxFlex>

      <app-loader style="position:absolute;z-index:100000;opacity: 0.8;" *ngIf="loadPositions" fxFill></app-loader>

      <div fxLayout="row" fxLayoutAlign="center stretch" style="width:700px" fxFlex>

        <div fxFlex="30px" fxLayout="column" fxLayoutAlign="start start" style="position:relative;padding-left:10px">

          <!-- <div class="timeline" fxFlex style="background:#007FC1;width:2px;margin-top:25px"></div> -->
        </div>
        <div fxLayout="column" fxFlex fxLayoutAlign="start center" style="position:relative">

          <!-- <div style="position:absolute; opacity:0.5;background:white;z-index:1000" *ngIf="loading" fxFill>

          </div> -->
          <ng-container  #positionsContainer></ng-container>

          <!-- TIMELINE -->
          <div style="font-size:0.8rem;padding-top:20px;color:grey; padding-bottom:5px;position:relative;width:100%" fxLayout="row" fxLayoutAling="start start" >
            
            <div class="timeline" style="top:-20px;position:absolute;left:-20px;height:100%;background:#007FC1;width:2px;"></div>
            <div class="timeline-dot"></div>
            Today

          </div>
          <div fxFlex="500px"></div>
        </div>


      </div>
    </div>



  </div>

</div>


<!-- POSITIONS TEMPLATES -->
<ng-template #position let-position="position" let-showLoader="showLoader" let-index="index" let-show="show" >

  <app-position-box *ngIf="position.platformData.showOnScroll" style="width:100%" [summary]="(summary$ | async)" [debate]="(debate$ | async)" [position]="position" [userData]="userData" [authenticated]="authenticated" [claimPlaceholder]="claimPlaceholder" (setLastPositionEmitter)="setLastPosition(position)" ></app-position-box>
  <div *ngIf="!position.platformData.showOnScroll" [id]="position.id" ></div>

</ng-template>
