$orange: #FE9329;
$light-blue: #007FC1;
$blue: #012E46;
$dark-blue: #003A54;
$grey: #eaeaea;
$light-grey: #CBCBCB;
$claims-grey: #dedede;
$line-grey: #d5d5d5;

.line {
  background:$line-grey;
}

.add-position-reply {

  background:$dark-blue;
  box-sizing: border-box;
  margin-top:-20px;
  padding:20px;
}


.add-position {
  position:absolute;
  bottom:20px;
  z-index: 100;
  width:100%;

  .input-box {
    box-sizing: border-box;
    background:$dark-blue;
    padding:20px;
    border-radius:10px;
  }
}




.grey-border-bottom {
  border-bottom: 1px solid #dedede!important;
}

.bold-border {
  border-width: 3px;
}


@keyframes highlight {
  from {background-color: #012E46;color:white}
  to {background-color:none;}
}

.no-bottom-radius-borders {
  border-bottom-left-radius: 0px!important;
  border-bottom-right-radius: 0px!important;
}



.big-input-box {
  position:relative;
  line-height: 0;
  .grey-border {
    border:1px solid $light-grey;
  }

  input {
    background:white;
    border-radius:25px;
    width:100%;
    box-sizing: border-box;
    border:none;
    outline: none;
    padding:15px;
  }

  textarea {
    background:white;
    border-radius:25px;
    width:100%;
    box-sizing: border-box;
    border:none;
    outline: none;
    padding:15px;
  }

  img {
    cursor:pointer;
  }


  button {
    background:none;
    border:none;
    font-size:0.8rem;
    padding:0px;
  }
}

#positionsContainer {
  display: flex;
  flex-direction: column-reverse;
}

.scroll-bar-wrapper {
  height: 400px;
  width:2px;
  position:fixed;
  z-index: 1000;
  top:200px;
  background:#CCCCCC;
  border-radius: 10px;
  margin-left:30px;
}

#scroll-bar {
  width:inherit;
  height: 0;

  #circle-cursor {
    border-radius: 20px;
    height:20px;
    width:20px;
    background:white;
    border:1px solid #003A54;
  }
}

.example-box {
  width: 200px;
  height: 200px;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  border-radius: 4px;
  margin-right: 25px;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  padding: 10px;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
              0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.example-box:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.example-boundary {
  width: 400px;
  height: 400px;
  max-width: 100%;
  border: dotted #ccc 2px;
}


textarea {
  background:white;
  border-radius:25px;
  width:100%;
  box-sizing: border-box;
  border:none;
  outline: none;
  padding:15px;
  resize: none;
  }


  .scroll-textarea::-webkit-scrollbar {
  display: none;
  }


  .debate-title {
    background:#003A5A;
    border-radius:10px;
    font-size:25px;
    font-weight: bold;
    color:white;
    padding:20px;
    line-height: 1.2;
    width:100%;
}
