<div fxLayout="row" fxFill style="background:#F0F0F0;">

  <div *ngIf="!loading" fxLayout="row" fxFill>
    <app-debate-left-box fxFlex="300px" (showLoaderEmitter)="setLoader($event)" (loadPositionsEmitter)="lastPositionLoaded=$event"  [debateKey]="debateKey"></app-debate-left-box>

    <div style="position:relative" fxFlex>
      <app-debate-container [debateKey]="debateKey" [lastPositionLoaded]="lastPositionLoaded" [authenticated]="authenticated$ | async"  fxFlex></app-debate-container>
      <app-loader *ngIf="lightLoading" fxFill style="z-index:100000;position:absolute;left:0px;top:0px;opacity:0.8"></app-loader>
    </div>

    <app-debate-right-box (showLoaderEmitter)="setLoader($event)" (logoutEmit)="checkDiscussionGroup(null)" [summary]="summary$ | async" [debateKey]="debateKey" (loadPositionsEmitter)="lastPositionLoaded=$event"  [userData]="userData" [page]="'debate'" fxFlex="280px"></app-debate-right-box>
  </div>

  <app-loader *ngIf="loading" fxFill ></app-loader>

</div>
