.sticky {
  position: -webkit-sticky;
  position: sticky;
  z-index:10;
  top: 0px;
  background:rgb(240, 240, 240);
}


.position-bar {
  color:#007fc1;
  cursor:pointer;
  border: 1px solid #007fc1!important;
  padding: 5px 5px!important;
  height:30px;
  border-radius:5px;
  &.highlighted {
    color:white!important;
  }

  &:hover {
    color:white!important;
    background:#007fc1!important;
  }
}


.position-box {
  background:white;
  border:3px solid white!important;
  padding-top:20px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
  border-top-right-radius: 10px;

  .parent-box {
    margin:0px 20px;
    background:#eaeaea;
    padding:20px;
    border-radius:10px;
    margin-bottom:10px;
    margin-right:20px;
  }

  .author {

  }
}

.heart-reply {
  position:absolute;
  right:20px;
  top:-10px;

  &.parent {
    top:0px;
  }
}

.claims {
  background:#dedede;
  padding-top:20px;
}

.custom-tooltip {
  font-size:12px;
  background: #003A5A;
}

.highlighted-position {
  /* animation-duration: 2s;
  animation-name: highlight; */
  border:3px solid #979dac!important;
  background-color: #979dac!important;
  color:white!important;

  mat-icon {
    color:white!important;
  }


  .parent-box {
    color:black!important;


    mat-icon {
      color:black!important;
    }
  }


  .position-bar {
    border-color:white!important;
  }
}

.highlighted-argument-con {
  background-color: #979dac!important;
  color:white!important;

  .parent-box {
    color:black!important;
  }
}



.highlighted-argument-pro {
  background-color: #979dac!important;
  color:white!important;
  .parent-box {
    color:black!important;
  }
}


.big-input-box {
position:relative;
}

.grey-border {
border:1px solid #CBCBCB;
}

.line {
  background:#919191;
}

input {
background:white;
border-radius:25px;
width:100%;
box-sizing: border-box;
border:none;
outline: none;
padding:15px;
}

textarea {
background:white;
border-radius:25px;
width:100%;
box-sizing: border-box;
border:none;
outline: none;
padding:15px;
resize: none;
}


.scroll-textarea::-webkit-scrollbar {
display: none;
}

img {
cursor:pointer;
}

.button-icon {
position:absolute;
right:15px;
top:0px;
height:47px;
min-width:30px;
background:none;
border:none;
font-size:0.8rem;
padding:0px;
}

.my-contribution {
  background-color: #52b788!important;
  color:white!important;
  //border:1px solid #003a5a!important;

  mat-icon {
    color:white!important;
  }

  .parent-box {
    color:black!important;

    mat-icon {
      color:black!important;
    }
  }

  .position-bar {
    border-color:white!important;
    color:white!important;
  }
}

.most-contested-bg {
right: 260px!important;
}

.relevant-bg {
right:430px!important;
}

.most-contested-bg-claim {
width:fit-content!important;
right: 10px!important;
top:-20px;
}

.relevant-bg-claim-support {
width:fit-content!important;
right: 10px!important;
top:-20px!important;
background:#1EC1AB;
}

.most-contested-bg-claim-support {
width:fit-content!important;
right: 10px!important;
top:-20px!important;
background:#DECF00;
}

.most-opposed-bg-claim-support {
width:fit-content!important;
right: 10px!important;
top:-20px!important;
background:#F28222;
}

.relevant-bg-claim-oppose {
width:fit-content!important;
left: 10px!important;
top:-20px!important;
background:#1EC1AB;
}

.most-contested-bg-claim-oppose {
width:fit-content!important;
left: 10px!important;
top:-20px!important;
background:#DECF00;
}

.most-opposed-bg-claim-oppose {
width:fit-content!important;
left: 10px!important;
top:-20px!important;
background:#F28222;
}



.wrapper {
width: 100%;
max-width: 500px;
padding: 10px;
border-radius: 4px;
margin: 10px;
float: left;
box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

&.red {
   color: black;
   background-color: #f44336;
}
&.pink {
   color: black;
   background-color: #e91e63;
}
&.purple {
   color: white;
   background-color: #9c27b0;
}
&.deep-purple {
   color: white;
   background-color: #673ab7;
}
&.indigo {
   color: white;
   background-color: #3f51b5;
}
&.blue {
   color: black;
   background-color: #2196f3;
}
&.light-blue {
   color: black;
   background-color: #03a9f4;
}
&.cyan {
   color: black;
   background-color: #00bcd4;
}
&.teal {
   color: black;
   background-color: #009688;
}
&.green {
   color: black;
   background-color: #4caf50;
}
&.light-green {
   color: black;
   background-color: #8bc34a;
}
&.lime {
   color: black;
   background-color: #cddc39;
}
&.yellow {
   color: black;
   background-color: #ffeb3b;
}
&.amber {
   color: black;
   background-color: #ffc107;
}
&.orange {
   color: black;
   background-color: #ff9800;
}
&.deep-orange {
   color: black;
   background-color: #ff5722;
}
&.brown {
   color: white;
   background-color: #795548;
}
&.grey {
   color: black;
   background-color: #9e9e9e;
}
&.blue-grey {
   color: black;
   background-color: #607d8b;
}
}


.avatar {
margin-left: -15px;
width: 25px;
border: 1px solid #919191;
border-radius: 50px;
height: 25px;
background:white;
}


.delete-button {
  position: absolute;
  background: white;
  right: 0px;
  top: 35px;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  place-content: center flex-end;
  align-items: center;
  padding: 5px;
  border-radius: 100px;
  border: 1px solid black;

  mat-icon {
    color:black!important;
  }
}


.delete-button-claim-supporting {

  position: absolute;
  color: black;
  right: -10px;
  top: -25px;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  place-content: center flex-end;
  align-items: center;
  border-radius: 100px;
  padding: 5px;
  border: 1px solid black;
  background:white;

  mat-icon {
    color:black!important;
  }
}

.delete-button-claim-opposing {

  position: absolute;
  color: black;
  left: -10px;
  top: -25px;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  place-content: center flex-end;
  align-items: center;
  background:white;
  border-radius: 100px;
  padding: 5px;
  border: 1px solid black;

  mat-icon {
    color:black!important;
  }
}
