

<div fxLayout="column" style="width:100%;position:relative" >
    <div class="timeline" style="position:absolute;left:-20px;height:100%;background:#007FC1;width:2px;" *ngIf="index > 0"></div>


    <!-- <div class="timeline" style="position:absolute;left:-20px;height:20px;background:#007FC1;width:2px;" *ngIf="index === (debateService.positionsArray.length-1)"></div> -->

    <div class="timeline" style="top:20px;position:absolute;left:-20px;height:100%;background:#007FC1;width:2px;" *ngIf="index === 0"></div>


    <!-- POSITION BOX -->

    <div class="sticky" fxLayout="column"  style="z-index:1"  [id]="position.id" style="cursor:pointer;">

        <!-- LABELS -->

        <app-position-header (clickEmitter)="positionClicked(position)" (resetEmitter)="resetHighlightining($event)" [userData]="userData" [position]="position" [summary]="summary"></app-position-header>

        <app-position-content [highlighted]="highlighted" [collapsed]="collapsed" [debate]="debate" [claimPlaceholder]="claimPlaceholder" (clickEmitter)="positionClicked(position)" (resetEmitter)="resetHighlightining($event)" [claims]="claims$ | async" (collapseEmitter)="toggleCollapse()" (pushClaimEmitter)="pushClaim($event)" [userData]="userData" [position]="position" [summary]="summary"></app-position-content>

    </div>

    <!-- CLAIMs BOX -->

    <div class="claims" style="z-index:0;position:relative"  fxLayout="column" *ngIf="!collapsed">

        <!-- HEADER -->

        <app-claims-header style="width:100%"></app-claims-header>

        <!-- CONTENT  -->

        <div fxLayout="row" fxLayoutAlign="start stretch" style="padding-top:20px;padding-right:20px;padding-left:20px">
            
            <!-- OPPOSING CLAIMS -->
            <div fxLayout="column " fxFlex>

                <!-- OPPOSING -->

                <div *ngFor="let claim of claims$ | async" class="width-100" style="position:relative" [ngClass]="{'hidden-claim': claim.type === 'SUPPORTING'}">
                    <app-claim-box  [summary]="summary" [claim]="claim" [position]="position" [userData]="userData"></app-claim-box>
                </div>

            </div>

            <div fxFlex="20px"></div>

            <div style="width:2px;" class="line"></div>

            <div fxFlex="20px"></div>

            <!-- SUPPORTING CLAIMS -->

            <div fxLayout="column" fxFlex>

                <!-- SUPPORTING -->

                <div *ngFor="let claim of claims$ | async" class="width-100" style="position:relative" [ngClass]="{'hidden-claim': claim.type==='OPPOSING'}">
                    <app-claim-box  [summary]="summary" [claim]="claim" [position]="position" [userData]="userData"></app-claim-box>
                </div>

            </div>

        </div>

        <div style="position:absolute;bottom:0px;width:100%" fxLayout="row" fxLayoutAlign="center center">
            <div style="border-radius:100px;background: #919191;color:white;padding:3px 10px;" fxLayout="row" fxLayoutAlign="center center">TODAY</div>
        </div>
        <div style="height:20px"></div>
    </div>

    <!-- POSITION ADD_PRO/ADD_CON/SLIDER BAR -->

    <div fxLayout="column" fxLayoutAlign="start start" style="padding:12px;background: #dedede;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;" >

        <div  fxLayout="row" fxLayoutAlign="center center" style="width:100%">


            <div *ngIf="!currentNewClaim || currentNewClaim.type !== 'OPPOSING'" fxFlex class="big-input-box" fxLayout="column" (click)="addOpposing($event,position)">
                <textarea rows="1" class="grey-border border-orange scroll-textarea"  id="input-box" type="text" [placeholder]="'Give your Cons'" ></textarea>
                <button class="button-icon" fxLayout="row" fxLayoutAlign="end center">
                  <img src="assets/send-orange.svg"  height="15px"/>
                </button>
              </div>

              <div fxFlex *ngIf="currentNewClaim && currentNewClaim.type === 'OPPOSING'" class="big-input-box" fxLayout="column" >
                  <textarea rows="1" matInputAutofocus (input)="autoGrow($event.target)" class="grey-border border-orange scroll-textarea"  [id]="'input-opposing-'+position.id" type="text" [placeholder]="claimPlaceholder" [(ngModel)]="currentNewClaim.text" (keyup.enter)="pushClaim(null)" ></textarea>
                  <button class="button-icon" [disabled]="currentNewClaim.text === ''" (click)="pushClaim(null)" fxLayout="row" fxLayoutAlign="end center">
                    <img src="assets/send-orange.svg"  height="15px"/>
                  </button>
              </div>

              <div fxFlex="40px"></div>

              <div fxFlex *ngIf="!currentNewClaim || currentNewClaim.type !== 'SUPPORTING'"  class="big-input-box" fxLayout="column" (click)="addSupporting($event,position)">
                <textarea rows="1" class="grey-border border-blue scroll-textarea"  id="input-box" type="text" [placeholder]="'Give your Pros'" ></textarea>
                <button class="button-icon" fxLayout="row" fxLayoutAlign="end center">
                  <img src="assets/send-light-blue.svg"  height="15px"/>
                </button>
              </div>

              <div fxFlex class="big-input-box" fxLayout="column" *ngIf="currentNewClaim && currentNewClaim.type === 'SUPPORTING'">

                <textarea rows="1" matInputAutofocus (input)="autoGrow($event.target)" class="grey-border border-blue scroll-textarea"  [id]="'input-supporting-'+position.id" type="text" [placeholder]="claimPlaceholder" [(ngModel)]="currentNewClaim.text" (keyup.enter)="pushClaim(null)" ></textarea>
                <button class="button-icon" [disabled]="currentNewClaim.text === ''" (click)="pushClaim(null)" fxLayout="row" fxLayoutAlign="end center">
                  <img src="assets/send-light-blue.svg"  height="15px"/>
                </button>
              </div>

        </div>

    </div>

</div>
