<div class="appAuthSignupForm">
    <form [formGroup]="signupForm" (ngSubmit)="handleSubmit(signupForm)">
  
      <div fxLayout="row">
        <mat-form-field appearance="outline">
          <mat-label>Your email</mat-label>
          <input matInput
            formControlName="email"
            placeholder="your-email@example.com"
            autocomplete="off"
            required
          />
        </mat-form-field>
      </div>

      
      <div fxLayout="row">
        <mat-form-field appearance="outline">
          <mat-label>Confirm your email</mat-label>
          <input matInput
            formControlName="emailConfirm"
            placeholder="your-email@example.com"
            autocomplete="off"
            required
          />
        </mat-form-field>
      </div>
  
  
      <div fxLayout="row">
        <button mat-raised-button
          type="submit"
          color="primary"
          [disabled]="!signupForm.valid"
        >Recover password</button>
      </div>
  
    </form>
  
  </div>
  