
.claim {

    .parent-box {
        background:#eaeaea;
        padding:20px;
        border-radius:10px;
        margin-bottom:10px;
        font-size:0.8rem;
    }

    .date {
        font-size:0.8rem;
        color:grey;
        position:relative;

        .pin {
            position:absolute;
            border-radius:20px;
            height:10px;
            background:#D9D9D9;
            width:10px;

            &.supporting {
                left:-28px;
                border:2px solid #919191;
            }

            &.opposing {
                right:-28px;
                border:2px solid #919191;
            }
        }
    }

    .claim-box {

        max-width:294px;
        background:white;
        color:black;
        padding:15px 15px 10px 15px;
        margin-top:5px;
        margin-bottom:20px;
        position:relative;
        cursor:pointer;

        &.support {
            border-radius: 8px;
            border-top-left-radius: 0px;
        }

        &.opposing {
            border-radius: 8px;
            border-top-right-radius: 0px;
        }

        .author {
            font-size:0.85rem;
            font-weight: bold;
        }

        .text {
            word-break: break-all;
            font-size:0.8rem;
            line-height: 1.5;
        }
    }

}
 

.highlighted-argument-con {
    background-color: #fe9329!important;
    color:white!important;
  
    .parent-box {
      color:black!important;
    }
}


.unselectable {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }
  

.highlighted-argument-pro {
    background-color: #007fc1!important;
    color:white!important;
    .parent-box {
      color:black!important;
    }
  }
  
.delete-button-claim-supporting {
    position: absolute;
    color: black;
    right: 0px;
    top: -30px;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center flex-end;
    align-items: center;
}

.delete-button-claim-opposing {
    position: absolute;
    color: black;
    left: 0px;
    top: -30px;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center flex-end;
    align-items: center;
}