<div fxLayout="row" style="position: relative">
  <i
    class="material-icons"
    style="cursor: pointer; position: absolute; right: 20px; top: 20px"
    (click)="close(null)"
    >close</i
  >
  <div fxFlex="200px" style="background: #e8e8e8" fxLayout="column">
    <div
      style="padding: 20px"
      *ngIf="selectedPosition"
      fxLayout="column"
      fxLayoutAlign="start start"
    >
      <div
        class="contributions-labels-position"
        fxLayout="row"
        fxLayoutAlign="center center"
      >
        <mat-icon style="font-size: 16px; height: 16px; width: 16px"
          >lightbulb</mat-icon
        >
        <div fxFlex="5px"></div>
        <div>POSITION</div>
      </div>
      <div fxFlex="10px"></div>
      <span style="font-weight: bold; text-align: left; padding: 0px">
        {{ selectedPosition.text }}</span
      >
    </div>
    <div
      style="border-top: white solid 1px; padding: 20px"
      *ngIf="selectedPosition"
      fxLayout="column"
      fxLayoutAlign="start start"
    >
      <div
        [ngClass]="{
          'contributions-labels-supporting':
            data.argument.type === 'SUPPORTING',
          'contributions-labels-opposing': data.argument.type === 'OPPOSING'
        }"
        fxLayout="row"
        fxLayoutAlign="center center"
      >
        <mat-icon
          style="font-size: 16px; height: 16px; width: 16px"
          *ngIf="data.argument.type === 'OPPOSING'"
          >remove_circle</mat-icon
        >
        <mat-icon
          style="font-size: 16px; height: 16px; width: 16px"
          *ngIf="data.argument.type === 'SUPPORTING'"
          >add_circle</mat-icon
        >
        <div fxFlex="5px"></div>
        <div>ARGUMENT</div>
      </div>
      <div fxFlex="10px"></div>
      <div
        style="
          font-weight: normal;
          text-align: left;
          padding: 0px;
          overflow-wrap: break-word;
        "
      >
        {{ data.argument.text }}
      </div>
    </div>
  </div>

  <app-loader fxFlex="650px" *ngIf="!areRecommendationsReady"></app-loader>

  <div
    fxFlex="650px"
    style="padding: 20px"
    *ngIf="areRecommendationsReady"
    class="chart-container"
  >
    <div style="font-size: 1rem; font-weight: bold; margin-bottom: 10px">
      Relevant arguments found in scientific literature
    </div>

    <div *ngIf="areRecommendationsReady" fxLayout="column" style="width: 100%">
      <div
        *ngFor="
          let item of recommendationResponse.response.data.recommendations
        "
      >
        <recommendation-item [recommendationItem]="item" (externalEvidenceSelected)="externalEvidenceSelected($event)"></recommendation-item>
      </div>
    </div>

    <i
      class="material-icons"
      style="cursor: pointer; position: absolute; right: 20px; top: 20px"
      (click)="close(null)"
      >close</i
    >
  </div>
</div>
