<div fxLayout="column"  class="landing-container">

    <!-- <div style="position:relative">
         <input (keyup)="term$.next($event)"  style="padding:10px 10px;border:1px solid #d8d8d8;border-radius:20px;width:300px;position:relative" type="text" placeholder="Search" />

         <div style="position:absolute;right:15px;top:10px">
             <img src="assets/search-icon.svg" height="20px"/>
         </div>
     </div> -->
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutAlign="space-between center" style="border-bottom:1px solid rgb(216, 216, 216);padding-bottom:10px" fxFlex="70">
            <div style="color:#0073b6;font-size:24px;font-weight: 500">Discussions</div>
            <mat-icon  *ngIf="(identity$ | async) !== null"
           style="color:#0073b6;cursor:pointer"
           (click)="pushNewDebate()">add_circle</mat-icon>
        </div>
        <div fxFlex="60px"></div>
        <div fxLayout="row" fxLayoutAlign="space-between center"  style="border-bottom:1px solid rgb(216, 216, 216);padding-bottom:10px" fxFlex>
            <div  style="color:#0073b6;font-size:24px;font-weight: 500">Groups</div>
            <mat-icon  *ngIf="(identity$ | async) !== null"
           style="color:#0073b6;cursor:pointer"
           (click)="pushNewDiscussionGroup()">add_circle</mat-icon>
        </div>
        <!-- <div fxLayout="row" fxLayoutAlign="space-between center" style="width:100%">

            <button mat-button
            *ngIf="(identity$ | async) !== null"
            style="background:#0073b6 !important; color:white;border:1px solid #0073b6"
            (click)="pushNewDebate()">Create a new discussion</button>
            <div fxFlex="20px"></div>
            <button mat-button
                *ngIf="(identity$ | async) !== null"
                style="color:#0073b6; background:white;border:1px solid #0073b6"
                (click)="pushNewDiscussionGroup()">Create a new discussion group</button>
        </div> -->
    </div>
    <div fxFlex="20px"></div>
    <div fxLayout="row">
            
        <div *ngIf="debates$ | async" fxFlex="70">
            <app-debate-grid-list (updateData)="updateData()" [debates]="(debates$ | async)" [userData]="(identity$ | async)" [debatesContributedByUser]="(debatesContributedByUser$ | async)"></app-debate-grid-list>
            <div style="height:100px"></div>
        </div>
        <div fxFlex="60px"></div>
            
        <div fxLayout="column" fxFlex>
            <app-group-grid [groups]="(groups$ | async)" [userData]="(identity$ | async)"  ></app-group-grid>
        </div>
    </div>

    <div *ngIf="!(debates$ | async)" style="height:300px;width:100%">
        <app-loader></app-loader>
    </div>

</div>
