

$opposition: #FF9027;
$support: #007FC1;
$position: #003A5A;

.radar-text {
    font-size:4px;
  }
  
.analytics-dashboard {
  padding:10px 40px;
    .top-box {
      border-radius:10px;
      padding:20px;
      background:white;
  
      .header {
        background: white;
        font-size:14px;
        font-weight: bold;
        width:100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
  
      .content {
        background: white;
        padding:20px;
      }
    }
  
  }

.widget-box {
  min-width:200px;
  height:200px;
  color:#222b45;
  position:relative;
  cursor:pointer;
}
  
.low-opacity {
    opacity: 0.3;
  }
  
  
  button {
    box-shadow:none!important;
    height: 35px;
    min-width: 100px;
    width:'fit-content';
    font-size:15px;
    cursor:pointer;
    font-weight:500;
    padding-left:10px;
    padding-right:10px;
  
    font-family: 'Inter', sans-serif;
    outline:none;
  }
  
  .sea-button {
    background:$support;
    border: 1px solid $support;
    border-radius:4px;
    color:white;
  }
  
  
  .white-button {
    background:white;
    border: 1px solid white;
    border-radius:4px;
    color:$position;
  }
  
  
  
  .sea-button-negative {
    background:white;
    border: 1px solid $support;
    border-radius:4px;
    color:$support;
  }

  drag-scroll {
    height: 200px;
  }

  /* img {
    height: 200px;
    width: 200px;
    margin-right:20px;
  } */

  .widgets-container {
    width:100%;
    overflow-x:scroll;
  }

  .blue-border {
    border:2px solid #003A5A!important;
  }