

  <div fxLayout="row" fxFill style="background:#CBCBCB;">

    <div *ngIf="!loading" fxLayout="row" style="overflow:hidden" fxFill>
      
      <div *ngIf="!loading" class="analytics-dashboard height-100" fxFlex fxLayout="column" style="overflow: hidden;">
      
          
          <!-- DEBATE HEADER -->
          <!-- <div fxLayout="column" style="width:100%" fxLayoutAlign="center center">
            <app-debate-header [title]="debateData?.title" [image]="debateData?.image" style="width:100%" ></app-debate-header>
          </div>
  
          <div fxFlex="20px"></div>
  
          <div fxLayout="row" fxLayoutAlign="center center">
            <button *ngIf="userKey" (click)="mode = 'personal';processData()" [ngClass]="{'sea-button': mode === 'personal', 'sea-button-negative': mode === 'all'}">Your Contributions</button>
            <div  *ngIf="userKey" fxFlex="20px"></div>
            <button (click)="mode = 'all';processData()" [ngClass]="{'sea-button': mode === 'all', 'sea-button-negative': mode === 'personal'}">All Contributions</button>
          </div> -->
  
          <div fxFlex="20px"></div>
  
          <div style="overflow: hidden;" fxFlex>
            <div fxLayout="column" style="height:100%">
              <div fxLayout="row" fxLayoutAlign="space-between center" style="color:#003A5A;padding-bottom:20px;border-bottom:1px solid white;margin-bottom:20px">
                <div fxLayout="column">
                  <div style="font-size:24px;font-weight:500">ANALYTICS</div>
                  <!-- <div fxFlex="5px"></div>
                  <div style="font-size:14px">Short description about how the analytics work </div> -->
                </div>
                <a [routerLink]="'/discuss/debate/'+debateKey"><button class="blue-button" >BACK TO DEBATE</button></a>
              </div>
              <div class="widgets-container scroll-bar" fxLayout="row" fxLayoutGap="20px" fxFlex="200px">
                
                  <app-agreements-widget [ngClass]="{'blue-border': clickedWidget === 'agreements'}" [positions]="positions$ | async" [averageLevel]="averageLevel" [debate]="debate$ | async" [userData]="profile$ | async" fxLayout="column" fxLayoutAlign="space-between start" class="top-box widget-box" (click)="clickedWidget = 'agreements'"></app-agreements-widget>
                 
                  <app-positions-widget [debate]="debate$ | async" [userData]="profile$ | async" [positions]="positions$ | async" [participants]="participants$ | async" [arguments]="arguments$ | async" [ngClass]="{'blue-border': clickedWidget === 'positions'}"  class="top-box widget-box" fxLayout="column" fxLayoutAlign="start start" (click)="clickedWidget = 'positions'"></app-positions-widget>
                  
                  <app-reflections-widget [debate]="debate$ | async" [userData]="profile$ | async" [positions]="positions$ | async" [participants]="participants$ | async" [arguments]="arguments$ | async" [ngClass]="{'blue-border': clickedWidget === 'reflections'}" fxLayout="column" fxLayoutAlign="start start" class="top-box widget-box" (click)="clickedWidget = 'reflections'"></app-reflections-widget>
               
                  <app-arguments-widget [debate]="debate$ | async" [userData]="profile$ | async" [positions]="positions$ | async" [participants]="participants$ | async" [arguments]="arguments$ | async" [ngClass]="{'blue-border': clickedWidget === 'arguments'}" fxLayout="column" fxLayoutAlign="start start" class="top-box widget-box" (click)="clickedWidget = 'arguments'"></app-arguments-widget>
                  
                  <app-participants-widget [debate]="debate$ | async" [userData]="profile$ | async" [positions]="positions$ | async" [participants]="participants$ | async" [arguments]="arguments$ | async" [ngClass]="{'blue-border': clickedWidget === 'participants'}" fxLayout="column" fxLayoutAlign="start start" class="top-box widget-box" (click)="clickedWidget = 'participants'"></app-participants-widget>
                 
              </div> 
              <div fxFlex="20px"></div>
              <div fxLayout="column" class="scroll-bar" style="overflow-y:scroll;position:relative;">
                <div fxLayout="column" *ngIf="clickedWidget === 'agreements' && (debate$ | async) && (participants$ | async) && (arguments$ | async)">
                  
                  <app-agreements-people-chart id="people-chart"  (averageLevelEmit)="averageLevel = $event" style="position:relative;border-radius:10px;background:white;" [positions]="positions$ | async" [debate]="debate$ | async" [userData]="profile$ | async" [participants]="participants$ | async" [arguments]="arguments$ | async" [participantTriggered]="participantTriggered" (togglePositionEmitter)="positionTriggered = $event"></app-agreements-people-chart>
  
                  <div fxFlex="20px"></div>
                  <app-agreements-positions-chart id="positions-chart" style="position:relative;border-radius:10px;background:white;" [debate]="debate$ | async" [userData]="profile$ | async" [positions]="positions$ | async" [participants]="participants$ | async" [arguments]="arguments$ | async" [positionTriggered]="positionTriggered" (toggleParticipantEmitter)="participantTriggered = $event"></app-agreements-positions-chart>
                </div>
              </div>
              <div fxFlex="20px"></div>
  
            </div>
          </div>
  
      </div>
      <app-debate-left-box fxFlex="300px" [debateKey]="debateKey" ></app-debate-left-box>
      <!-- <app-debate-right-box fxFlex="250px" [userData]="profile$ | async" [debateKey]="debateKey" [page]="'analytics'"></app-debate-right-box> -->
    </div>
      
    <app-loader *ngIf="loading" fxFill ></app-loader>
  
  </div>
    
    