<div class="left-box" fxLayout="column" fxLayoutAlign="start start">
  <div fxFlex="70px" class="subheader" fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="10px"></div>
    <div routerLink="/discuss/landing"  style="cursor:pointer"  fxLayout="row" fxLayoutAlign="center center">
      <mat-icon >arrow_back</mat-icon>
    </div>
    <div fxFlex="20px"></div>
    <div fxLayout="row" fxLayoutAlign="start center" style="cursor:pointer" fxFlex>
        <a routerLink="/home" style="line-height: 0;"><img src="assets/logo_white.svg" height="45px"/></a>
    </div>
  </div>

  <div fxFlex class="box" fxLayout="column">
      <app-summary (showLoaderEmitter)="showLoader($event)" (loadPositionsEmitter)="updateLastPositionId($event)" [debateKey]="debateKey" fxLayout="column" fxFill></app-summary>
  </div>

</div>
