.left-box {
  width:100%;
  color:white;
  height:100%;
}

.header {
  background:#016BA2;
  width:100%;
  padding: 20px;
}

.subheader {
  background:#007FC1;
  width:100%;
  box-shadow: 0px 3px 6px #00000029;
  border-bottom: 1px solid #00000029;
}


.box {
  background:#012E46;
  font-size:14px;
  width:100%;
  font-weight: 400;
  padding-bottom:30px;
}
