
.loader {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
    position:relative;
}

#wave {
	height: 50px;
	width: 100px;
	fill: #fff;
}

@for $i from 1 through 9 {
	#Line_#{$i} {
		animation: pulse 1s infinite;
		animation-delay: $i * .15s;
	}
}

@keyframes pulse {
	0% {
		transform: scaleY(1);
		transform-origin: 50% 50%;
	}
	
	50% {
		transform: scaleY(.7);
		transform-origin: 50% 50%;
	}
	
	100% {
		transform: scaleY(1);
		transform-origin: 50% 50%;
	}
}