$opposition: #FE9329;
$support: #007FC1;
$position: #003A5A;
$blue: #012E46;
$dark-blue: #003A54;
$grey: #eaeaea;
$light-grey: #CBCBCB;
$claims-grey: #dedede;
$line-grey: #d5d5d5;


:root 
{
    --claims-grey: #dedede; 
    --line-grey: #d5d5d5; 
    --light-grey: #CBCBCB;
    --grey: #eaeaea;
    --dark-blue: #003A54;
    --blue: #012E46;
    --position: #003A5A;
    --opposition: #FE9329;
    --support: #007FC1;
}