
:root
{
  --claims-grey: #dedede;
  --line-grey: #d5d5d5;
  --light-grey: #CBCBCB;
  --grey: #eaeaea;
  --dark-blue: #003A54;
  --blue: #012E46;
  --position: #003A5A;
  --opposition: #FE9329;
  --support: #007FC1;
}


@media only screen and (min-width: 768px) {
  .show-mobile {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .show-desktop {
    display: none;
  }

  .mobile-container {
    position:fixed;
    z-index: 100000;
    width:100%;
    height:100%;
    text-align:center;
  }
}


.height-100 {
  height:100%;
}

.width-100 {
  width:100%;
}

html, body { height: 100%; }

body{
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  margin-top:0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0; overflow:hidden;
}

.debate-container {
  padding:10px;
}


.hidden-claim {
  visibility: hidden;
}

.mat-dialog-content {
  max-height: 80vh!important;
}

.slider-reflection {
  -webkit-appearance: none;
  width: 100%;
  background: #9fcfe8;
  height:10px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius:3px;
  padding:0px!important;
}

.slider-reflection:hover {
  opacity: 1;
}

input::placeholder {
  font-family:'Inter', sans-serif !important;
}

textarea::placeholder {
  font-family:'Inter', sans-serif !important;
}
/*
.slider-reflection::-webkit-slider-thumb {
  background: white;
  padding:5px;
  color:#003A5A;
  border-radius:4px;
  border:1px solid #003A5A;
  cursor:pointer
}

.slider-reflection::-moz-range-thumb {
  background: white;
  padding:5px;
  color:#003A5A;
  border-radius:4px;
  border:1px solid #003A5A;
  cursor:pointer
}
 */
.range-slider { position:relative; width:100%}

.thumb-slider {
  background: white;
  padding:0px 5px;
  width:fit-content;
  color:#007fc1;
  margin-left:-21px;
  border-radius:5px;
  border:2px solid #007fc1;
  text-align: center;
  top:-30px;
  position: absolute;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}


button {
  box-shadow:none!important;
  border-radius:4px;
  height: 35px;
  min-width: 100px;
  width:'fit-content';
  font-size:15px;
  cursor:pointer;
  font-weight:500;
  padding-left:10px;
  padding-right:10px;
  font-family: 'Encode Sans'!important;
  text-transform: uppercase;
  outline:none;
}

.mat-tab-body-content {
  overflow:hidden!important;
}

.button-blue-negative {
  border:1px solid black!important;
  color:black!important;
}

.button-blue {
  border:1px solid black!important;
  color:white!important;
  background:black!important;
}

.button-blue-negative {
  border:1px solid #003A5A!important;
  color:black!important;
}

.button-blue {
  border:1px solid #003A5A!important;
  color:white!important;
  background:#003A5A!important;
}


.version {
  z-index: 1;
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 12px;
  background-color: rgba(255,255,255,0.4);
  padding: 5px;
  border-radius: 4px;
}


.opposing-button {
  border:1px solid #FE9329;color:#FE9329;height:40px;background:white;font-weight:bold
}

.supporting-button {
  border:1px solid #007FC1;color:#007FC1;height:40px;background:white;font-weight:bold
}


.border-orange {
  border-color: #FE9329!important;
}

.border-blue {
  border-color: #007FC1!important;
}

// SCROLL BAR

.scroll-bar::-webkit-scrollbar-track
{
    border-radius: 10px;
    padding-left:4px;
    padding-right:4px;

}

.scroll-bar::-webkit-scrollbar
{
    width: 0px;
    height:0px;
}

.scroll-bar::-webkit-scrollbar-thumb
{
    border-radius: 10px;
	  background-color: #dadada;
}

.opposition-text {
  color:$opposition;
}


.support-text {
  color:$support;
}

.position-text {
  color:$position;
}

.analytics-dashboard {
  .top-box {
    border:1px solid #939393;
    border-radius:10px;

    .header {
      background: #f4f4f4;
      font-size:14px;
      font-weight: bold;
      width:100%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    .content {
      //padding:20px;
    }
  }

}

.low-opacity {
  opacity: 0.3;
}


.sea-button {
  background:var(--support);
  border: 1px solid var(--support);
  color:white;
}

.sea-button-negative {
  background:white!important;
  border: 1px solid var(--support)!important;
  color:var(--support)!important;
}

.white-button {
  background:white;
  border: 1px solid white;
  font-weight: bold;
  color:$position;
}


.opacity-5 {
  opacity:0.5;
}

.no-padding .mat-dialog-container {
  padding:0px!important;
  border-radius:10px;
}
.mat-raised-button.mat-primary {
  background-color:#0073b6!important;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color:#0073b6!important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.landing-container {
 padding-left:10%;
 padding-right:10%;
}

.contributions-labels-question {
  color:white;

  width:fit-content;
  font-size:12px;
  border-radius: 5px;
  padding:2px 10px;
  background: #003A54;
}

.contributions-labels-position {
  color:white;

  width:fit-content;
  font-size:12px;
  border-radius: 5px;
  padding:2px 10px;
  background: #DECF00;
}

.position-info-box {
  background:#EFEFEF;
  padding:10px;
  border-radius:5px;
}



.contributions-labels-supporting {
  color:white;

  width:fit-content;
  font-size:12px;
  border-radius: 5px;
  padding:2px 10px;
  background:  var(--support);
}

.contributions-labels-opposing {
  color:white;

  width:fit-content;
  font-size:12px;
  border-radius: 5px;
  padding:2px 10px;
  background: #F28200;
}


.summary-labels {
  color:white;
  border-radius: 5px;

  &.contested {
    background: #beb202;
  }

  &.opposed {
    background: #F28200;
  }

  &.relevant {
    background:#00C1AB
  }
}

.most-contested-bg {
  background:#DECF00;
}

.most-opposed-bg {
  background:#F28222;
}

.relevant-bg {
  background:#1EC1AB;
}



.scroll-bar-wrapper {
  height: 60%;
  width:2px;
  z-index: 1000;
  background:#CCCCCC;
  border-radius: 10px;
}



#scroll-bar {
  width:inherit;
  height: 0;

  #circle-cursor {
    border-radius: 20px;
    height:20px;
    width:20px;
    background:white;
    border:1px solid #003A54;
  }
}

.timeline-date {
  font-size:12px;
  color:#717171;
}

.timeline-label {
  transform: rotate(-90deg);
  font-size:14px;
  color:#717171;
}



.timeline-dot {
  position:absolute;left:-28px;border:2px solid #007fc1;border-radius:20px;height:14px;width:14px;background:#f1f1f1;
  }
